body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 198, 203);
}
h1
{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
span::before
{
    content: '';
    animation: word-swith 5s infinite;
}

@keyframes word-swith 
{
    0% {content: '💻'}

    20%{content: '🎮';}

    40%{content: '🚗';}

    60%{content: '🛫';}

    80%{content: '🥂';}

    100%{content: '🍕';}
}